:root {
    --title-font-family: "Tangerine", cursive;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

body {
    background-image: url('../assets/fundo.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
}

.content {
    background-color: white;
    padding: 20px;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 80%;
    max-width: 600px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.title {
    font-family: var(--title-font-family);
    font-size: 8rem;
    font-weight: 400;
    color: rgb(48, 63, 22);
    margin-bottom: 15px;
}

.subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    color: rgb(48, 63, 22);
    margin-bottom: 20px;
}

.date {
    font-family: "Cormorant SC", serif;
    font-size: 2.5rem;
    color: rgb(48, 63, 22);
    margin: 0px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    margin-top: 20px;
    font-size: 5rem;
    color: rgb(48, 63, 22);
    transition: color 0.3s ease;
    text-decoration: none;
    max-width: 300px;
    padding: 15px 30px;
}

.button i {
    font-size: 7rem;
    margin-right: 10px;
    animation: bounce 2s infinite;
}

.button:hover {
    color: darkolivegreen;
}

a {
    text-decoration: none;
}

.footer-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 190px;
    /* background: url('../assets/mato.png') repeat-x; */
    background-size: contain;
    opacity: 0.8;
    /* Opacidade */
}

.section {
    width: 100%;
    min-height: 100vh; /* Cada seção ocupa 100% da altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sections {
    margin-top: 50px; /* Espaçamento entre o convite e as seções */
}

/* Media query para telas menores, como celulares */
@media only screen and (max-width: 500px) {
    .content {
        width: 80%;
        margin-bottom: 0px;
        max-height: 50vh;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 0.6rem;
    }

    .date {
        font-size: 2rem;
    }

    .button i {
        font-size: 5rem;
    }

    .button {
        font-size: 3rem;
        padding: 10px 20px;
    }

    .footer-img {
        height: 95px;
        opacity: 0.8;
    }
}